.exame_content_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    max-width: 1400px; 
    width: 1400px;
    margin: 0 auto;
    padding: 2em 0em 2em 0em;
}

.exame_content_page_dentes_container {
    width: 1180px; 
    max-width: 1180px;
    display: flex;
    justify-content: end;
    align-items: end;
}