.footer_content {
    width: 100%;
}

@media (max-width: 880px) {
    .footer_content p {
        color: red !important;
    }
}

@media (max-width: 764px) {
    .footer_content p {
        font-size: 20px;
    }
    .footer_content h2 {
        font-size: 10px;
    }
}