.navbar_content {
    width: 100%;
    background-color: var(--grey) !important;
}

.navbar_content_brand {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 2em;
}

.navbar_content_brand h3 {
    color: var(--white);
    padding-top: 12px;
    font-size: 21px;
    font-weight: 600;
}

.navbar_content_paciente_btn h3 {
    font-weight: 500;
    font-size: 21px;
    padding-top: 12px;
    padding-right: 2em;
}

.navbar_content_menu {
    width: 100%;
    background-color: var(--blue-line);
    padding: 1.5em 3em 1.5em 3em;
}

.navbar_content_menu_tab {
    width: 300px;
    display: flex;
    gap: 23px;
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
}

.navbar_content_img {
    width: 35px;
    max-height: 45px;
}

.navbar_content_menu_paciente_identificacao, .navbar_content_menu_paciente_amnese {
    width: 500px;
    padding: 1em;
    border-radius: 12px;
    background-color: #46468b;
}
.navbar_content_menu_paciente_identificacao p, .navbar_content_menu_paciente_amnese p {
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
}
.navbar_content_menu_paciente_identificacao p span, .navbar_content_menu_paciente_amnese p span {
    margin-right: 5px;
    font-weight: 600;
}

.navbar_content_menu_paciente_amnese {
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_content_menu_paciente_amnese textarea {
    width: 600px;
    height: 100px;
    color: var(--white);
    background-color: transparent;
    border: none;
    resize: none;
    margin-bottom: 18px;
}

.navbar_content_menu_paciente_amnese_divisor {
    width: 1px;
    height: 360px;
    background-color: white;
}

.selected {
    font-weight: 700;
    border-bottom: 1px solid white;
}

@media (max-width: 763px) {
    .navbar_content_brand {
        padding-left: .6em;
    }
    .navbar_content_brand h3 {
        font-size: 20px;
    }
    
    .navbar_content_paciente_btn h3 {
        padding-right: .6em;
    }
}