*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --blue-line: #5252A2;
    --red-line: #EC554A;
    --ball-bg: #E2F2EF;
    --white: #fff;
    --main-bg: #C5E6DF;
    --grey: #7d7c9d;
    --weak-purple: #8180A4;
}

html, #root {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Isidora Sans";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Utils class */
.inverted-y { transform: scaleY(-1); }
.inverted-x { transform: scaleX(-1); }
.pointer { cursor: pointer; }

/* Backgrounds */
.bg-blue-line { background-color: var(--blue-line); }
.bg-weak-purple { background-color: var(--weak-purple); }
.ball-bg { background-color: #E2F2EF !important; }

/* Fonts colors */
.text-weak-purple { color: var(--weak-purple); }

/* sistema furca */
.bg-furca-nivel2 { background: linear-gradient(to right, black 50%, transparent 50%) !important; }
.bg-furca-nivel3 { background: linear-gradient(to right, black 100%, transparent 0%) !important; }

/* bootstrap edit */
.input-padding {
    padding: 0.01rem !important;
}

.btn-outline-primary {
    --bs-btn-color: var(--blue-line) !important;
    --bs-btn-border-color: var(--blue-line) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: var(--blue-line) !important;
    --bs-btn-hover-border-color: var(--blue-line) !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: var(--blue-line) !important;
    --bs-btn-active-border-color: var(--blue-line) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--blue-line) !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: var(--blue-line) !important;
    --bs-gradient: none !important;
}

.btn-outline-danger {
    --bs-btn-color: var(--red-line) !important;
    --bs-btn-border-color: var(--red-line) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: var(--red-line) !important;
    --bs-btn-hover-border-color: var(--red-line) !important;
    --bs-btn-focus-shadow-rgb: 220, 53, 69 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: var(--red-line) !important;
    --bs-btn-active-border-color: var(--red-line) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--red-line) !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: var(--red-line) !important;
    --bs-gradient: none !important;
}

.navbar {
    --bs-navbar-padding-y: 0rem !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem !important;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: "" !important;
}

.circle-input {
    padding: 8px !important;
}