.dentes_container {
    position: relative;
}

.dentes_container img {
    width: 75px !important;
    max-width: 75px;
    height: 264px;
    width: 80px;
    height: 257px;
    /* max-width: 80px; */
}