.inputinformations_content {
    display: flex;
    align-items: top;
}

.inputinformations_content_inputs {
    width: calc(100% - 200px);
    display: flex;
}

.inputinformations_content_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
}

.inputinformations_content_labels {
    width: 200px;
    text-align: end;
    padding-top: 2.6em;
}