*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --blue-line: #5252A2;
    --red-line: #EC554A;
    --ball-bg: #E2F2EF;
    --white: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-35 { width: 35%; }
.w-40 { width: 40%; }
.w-55 { width: 55%; }
.w-98 { width: 98%; }

.mt-7 { margin-top: 7em; }
.mb-7 { margin-bottom: 7em; }
.mmb-4 { margin-bottom: 4em; }

.top-2 { top: 4em; }

.cursor-pointer { cursor: pointer; }

.inverted-y { transform: scaleY(-1); }
.inverted-x { transform: scaleX(-1); }

.ball-bg { background-color: #E2F2EF !important; }

/* sistema furca */
.bg-furca-nivel2 { background: linear-gradient(to right, black 50%, transparent 50%) !important; }
.bg-furca-nivel3 { background: linear-gradient(to right, black 100%, transparent 0%) !important; }


/* bootstrap edit */
.btn-outline-primary {
    --bs-btn-color: var(--blue-line) !important;
    --bs-btn-border-color: var(--blue-line) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: var(--blue-line) !important;
    --bs-btn-hover-border-color: var(--blue-line) !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: var(--blue-line) !important;
    --bs-btn-active-border-color: var(--blue-line) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--blue-line) !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: var(--blue-line) !important;
    --bs-gradient: none !important;
}

.btn-outline-danger {
    --bs-btn-color: var(--red-line) !important;
    --bs-btn-border-color: var(--red-line) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: var(--red-line) !important;
    --bs-btn-hover-border-color: var(--red-line) !important;
    --bs-btn-focus-shadow-rgb: 220, 53, 69 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: var(--red-line) !important;
    --bs-btn-active-border-color: var(--red-line) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: var(--red-line) !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: var(--red-line) !important;
    --bs-gradient: none !important;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: "" !important;
}