*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --blue-line: #5252A2;
    --red-line: #EC554A;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-35 { width: 35%; }
.w-40 { width: 40%; }
.w-55 { width: 55%; }
.w-98 { width: 98%; }

.mt-7 { margin-top: 7em; }
.mb-7 { margin-bottom: 7em; }
.mmb-4 { margin-bottom: 4em; }

.top-2 { top: 4em; }

.cursor-pointer { cursor: pointer; }

.inverted { transform: scaleY(-1); }

.test {
    background-color: #EC554A !important;
}